#sunburstSvg {
  margin: auto;
  display: block;
}

.tooltip {
  display: none;
  width: auto;
  bottom: auto;
  right: auto;
}

section.content {
  margin-top: 10px;
}

#resetSunburstButton {
  display: block;
}

#visualisation2 {
  display: none;
}

.panel h5 {
  font-weight: bold;
}