#sunburstSvg {
  margin: auto;
  display: block;
}

.tooltip {
  display: none;
  width: auto;
  bottom: auto;
  right: auto;
}

section.content {
  margin-top: 10px;
}

#resetSunburstButton {
  display: block;
}

#visualisation2 {
  display: none;
}

.panel h5 {
  font-weight: bold;
}


#barSvg rect { 
  fill: steelblue;
}

#barSvg text {
  text-anchor: end;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}