#sunburstSvg {
  margin: auto;
  display: block;
}

.tooltip {
  display: none;
  width: auto;
  bottom: auto;
  right: auto;
}

section.content {
  margin-top: 10px;
}

#resetSunburstButton {
  display: block;
}

#visualisation2, #visualisation3 {
  display: none;
}

.panel h5 {
  font-weight: bold;
}


#barSvg rect { 
  fill: steelblue;
}

#barSvg .bar-overlay {
  display: none;
  fill: #fff;
}

#barSvg text {
  text-anchor: end;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
	fill: #33b5e5;
}

.bar-failed {
	fill: #CC0000;
}

.bar-running {
	fill: #669900;
}

.bar-succeeded {
	fill: #33b5e5;
}

.bar-killed {
	fill: #ffbb33;
}